In [5]:
import pandas
from Bio import SeqIO
from Bio.SeqRecord import SeqRecord
from Bio.Seq import Seq

In [2]:
path = '/Users/vedantmahangade/Projects/giduded_tokenizer/data/gue_promoter/train.csv'

In [3]:
df = pandas.read_csv(path)

In [4]:
df

                                               sequence  label
0     CCAGGTCCCGGGAGCGCCACGGAACCTAACGGTGGCAGCGGAGGTC...      1
1     CCGGCCGAGCTCAGCACCGAGGCGCCCCCCAACCTGCCCAGCCCCC...      0
2     CACCTTGGACTTGGGACCAGAAAGAGGTGGGTTGGGTGAAGAGGCA...      1
3     CCTCCCTCCCCTAGAACACCCTCCTCATACCTGGCCTTTGGTCTTC...      1
4     CAATTTTGATTATCTGACAACATGATGTCCAAACTGAGGTATTTAT...      1
...                                                 ...    ...
4899  CCCGGAATTGCAGTGGGCTTTCTGAGCTGTGCGACCTAGGTGAGTT...      0
4900  GCGTGGGCCGGGTTGTCAGGGCGCGGGGGCGAGAGGCGGGTAAATA...      1
4901  GGTGACTGAGTTACCCCTCAACACGCAGAAAAAGCTAGTGGCCGCT...      1
4902  GGTATTGTGTTTGTGTGTGAGTTTTGAACTGAGTCACCTACGGCTG...      1
4903  GGCCCAGCCAGAGGGACGTCGGGTCACACTCTTTAGCTTTACCAAC...      0

[4904 rows x 2 columns]

In [6]:
def save_fasta(df, label, output_file):
    records = [
        SeqRecord(Seq(seq), id=str(index), description="")
        for index, (seq, lbl) in df.iterrows() if lbl == label
    ]
    SeqIO.write(records, output_file, "fasta")

In [7]:
save_fasta(df, 1, "prom_sequences.fasta")
save_fasta(df, 0, "non_prom_sequences.fasta")

In [4]:
from transformers import AutoTokenizer


# if __name__ == "__main__":
tokenizer = AutoTokenizer.from_pretrained(
    "zhihan1996/DNABERT-2-117M",
    model_max_length=512,
    padding_side="right",
    use_fast=True,
    trust_remote_code=True,
)

In [5]:
vocab = tokenizer.get_vocab()
inv_vocab = {v: k for k, v in vocab.items()}
token_vocab_set = set(inv_vocab.values())

In [6]:

with open('vocab_tokens', "w") as final_out:
    final_out.write("\n".join(token_vocab_set) + "\n")